Flask
Flask-Cors
google-auth
google-auth-oauthlib
google-pasta
ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
matplotlib
numpy
pandas
scikit-learn
seaborn
sklearn
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator